<section id="catalog">

    <div class="container-fluid">
        <div class="row">


            <div class="col-lg-12 main-catalog">

                <div class="container">
                    <div class="row">

                        <div class="col-lg-3 col-lg-offset-1 col-xs-12">
                            <ul>
                                {firstCol}
                            </ul>
                        </div>
                        <div class="col-lg-3 col-xs-12">
                            <ul>
                                {secondCol}
                            </ul>
                        </div>
                        <div class="col-lg-4 col-xs-12">
                            <ul>
                                <a href="#">
                                    <li class="catalog-item-right"> ДОМАШНЯ ПРОДУКЦІЯ

                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 455.992 455.992"
                                         xml:space="preserve" width="30px" height="30px">

                                        <g>
                                            <path d="M227.996,0C102.081,0,0,102.081,0,227.996c0,125.945,102.081,227.996,227.996,227.996     c125.945,0,227.996-102.051,227.996-227.996C455.992,102.081,353.941,0,227.996,0z M299.435,238.788l-98.585,98.585     c-5.928,5.897-15.565,5.897-21.492,0c-5.928-5.928-5.928-15.595,0-21.492l87.885-87.885l-87.885-87.885     c-5.928-5.928-5.928-15.565,0-21.492s15.565-5.928,21.492,0l98.585,98.585c3.04,2.979,4.469,6.901,4.438,10.792     C303.873,231.918,302.414,235.809,299.435,238.788z"/>
                                        </g>

                                        </svg>
                                    </li>
                                </a>
                                <a href="#">
                                    <li class="catalog-item-right"> ПРАВДИВА ЇЖА “ДІДО”
                                        <svg xmlns="http://www.w3.org/2000/svg"
                                             viewBox="0 0 455.992 455.992"
                                         xml:space="preserve" width="30px" height="30px">
                                        <g>
                                            <g>
                                                <g>
                                                    <path d="M227.996,0C102.081,0,0,102.081,0,227.996c0,125.945,102.081,227.996,227.996,227.996     c125.945,0,227.996-102.051,227.996-227.996C455.992,102.081,353.941,0,227.996,0z M299.435,238.788l-98.585,98.585     c-5.928,5.897-15.565,5.897-21.492,0c-5.928-5.928-5.928-15.595,0-21.492l87.885-87.885l-87.885-87.885     c-5.928-5.928-5.928-15.565,0-21.492s15.565-5.928,21.492,0l98.585,98.585c3.04,2.979,4.469,6.901,4.438,10.792     C303.873,231.918,302.414,235.809,299.435,238.788z"/>
                                                </g>
                                            </g>

                                            </svg>
                                    </li>
                                </a>
                                <a href="#">
                                    <li class="catalog-item-right"> АКЦІЙНІ ТОВАРИ
                                        <svg xmlns="http://www.w3.org/2000/svg"
                                             viewBox="0 0 455.992 455.992"
                                         xml:space="preserve" width="30px" height="30px">
                                        <g>
                                            <g>
                                                <g>
                                                    <path d="M227.996,0C102.081,0,0,102.081,0,227.996c0,125.945,102.081,227.996,227.996,227.996     c125.945,0,227.996-102.051,227.996-227.996C455.992,102.081,353.941,0,227.996,0z M299.435,238.788l-98.585,98.585     c-5.928,5.897-15.565,5.897-21.492,0c-5.928-5.928-5.928-15.595,0-21.492l87.885-87.885l-87.885-87.885     c-5.928-5.928-5.928-15.565,0-21.492s15.565-5.928,21.492,0l98.585,98.585c3.04,2.979,4.469,6.901,4.438,10.792     C303.873,231.918,302.414,235.809,299.435,238.788z"/>
                                                </g>
                                            </g>

                                            </svg>
                                    </li>
                                </a>
                                <a href="/recipes">
                                    <li class="catalog-item-right"> РЕЦЕПТИ
                                        <svg xmlns="http://www.w3.org/2000/svg"
                                             viewBox="0 0 455.992 455.992"
                                         xml:space="preserve" width="30px" height="30px">
                                        <g>
                                            <g>
                                                <g>
                                                    <path d="M227.996,0C102.081,0,0,102.081,0,227.996c0,125.945,102.081,227.996,227.996,227.996     c125.945,0,227.996-102.051,227.996-227.996C455.992,102.081,353.941,0,227.996,0z M299.435,238.788l-98.585,98.585     c-5.928,5.897-15.565,5.897-21.492,0c-5.928-5.928-5.928-15.595,0-21.492l87.885-87.885l-87.885-87.885     c-5.928-5.928-5.928-15.565,0-21.492s15.565-5.928,21.492,0l98.585,98.585c3.04,2.979,4.469,6.901,4.438,10.792     C303.873,231.918,302.414,235.809,299.435,238.788z"/>
                                                </g>
                                            </g>

                                            </svg>
                                    </li>
                                </a>
                            </ul>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-lg-12" id="catalog-close-button">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">

<g>
	<g>
		<g>
			<path  d="M0,256c0,141.4,114.6,256,256,256c141.4,0,256-114.6,256-256C512,114.6,397.4,0,256,0C114.6,0,0,114.6,0,256
				z M268.1,175.8l110.7,110.7c6.6,6.7,6.6,17.5,0,24.1c-6.7,6.7-17.5,6.7-24.1,0L256,211.9l-98.7,98.7c-6.7,6.7-17.5,6.7-24.1,0
				c-6.7-6.7-6.7-17.5,0-24.1l110.7-110.7c3.3-3.4,7.7-5,12.1-5C260.4,170.8,264.8,172.4,268.1,175.8z"/>
		</g>
	</g>
</g>
</svg>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>

</section>