<div id="mask">

    <section id="content">

        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium amet asperiores consequatur corporis dicta
        dolor dolorem itaque laudantium officia pariatur perspiciatis quas quos, recusandae rem suscipit temporibus
        voluptate voluptatum. Amet, aperiam architecto asperiores, in ipsam labore libero magnam molestiae natus nobis
        placeat quo repellat saepe sit unde! Accusamus assumenda autem consequuntur cupiditate distinctio dolore ducimus
        eius est id inventore ipsa itaque, iusto libero maxime minus nam nostrum, odio odit provident quo repellat saepe
        sapiente sit vel vero! Distinctio eum explicabo libero nostrum ratione repellat repudiandae rerum suscipit
        tenetur? Ab adipisci culpa deleniti, doloribus earum eos maiores omnis possimus quaerat similique?
    </section>


</div>